*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 165, 66);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

.container {
    /* max-width: 1100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

nav {
    background: black;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(4, 165, 66)
}

.navbar a:hover {
    color: rgb(55, 226, 21);
}

.navbar ul {
    display: flex;
    gap: 15px;
    margin: 15px;
}

header img {
    width: 600px;
    margin-right: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px
}

header .intro {
    margin-left: 40px
}

.intro button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(227, 231, 10);
    padding: 10px;
    margin-top: 10px;

}

